{% extends 'base.html' %}

{% block title_head %}
<title>Perros</title>
{% endblock title_head %}

{% block h1_header %}
Listado de perros
{% endblock h1_header %}

{% block contenido %}
<button>
    <a class="navbar-brand" href={% url 'Inicio:crear_perro' %}>Crear Perro</a>
</button>
{% comment %} <form action="" method="get">
    {{formulario}}
    <button>Buscar</button>
</form> {% endcomment %}
{% if perros %}
{% for perro in perros %}
<li>{{perro}}
    <button>
        <a class="navbar-brand" href={% url 'Inicio:mostrar_perro' perro.id %}>Ver más</a> 
    </button>
    <button>
        <a class="navbar-brand" href={% url 'Inicio:modificar_perro' perro.id %}>Modificar</a> 
    </button>
    <button>
        <a class="navbar-brand" href={% url 'Inicio:eliminar_perro' perro.id %}>Eliminar</a>
    </button>
</li>
{% endfor %}
{% else %}
 <p>No se encontraron datos cargados.</p>
{% endif %}
{% endblock contenido %}