{% extends 'base.html' %}

{% block title_head %}
<title>Perros</title>
{% endblock title_head %}

{% block h1_header %}
{% comment %} Se creó el perro con el nombre {{perro.nombre}} y edad {{perro.edad}} {% endcomment %}
Listado de perros
{% endblock h1_header %}

{% block contenido %}
<button>
    <a class="navbar-brand" href={% url 'Inicio:crear_perro' %}>Crear Perro</a>
</button>
<form action="" method="get">
    {{formulario}}
    <button>Buscar</button>
</form>
{% if perros %}
{% for perro in perros %}
<li>Nombre: {{perro.nombre}} - Edad: {{perro.edad}}</li>
{% endfor %}
{% else %}
 <p>No se encontraron datos cargados.</p>
{% endif %}
{% endblock contenido %}